.git
.gitignore
.venv
__pycache__
.pytest_cache
.coverage
reports
.trivycache
*.pyc
*.pyo
*.pyd
.env
.env.*
!/.env.example
NLPMusic.ipynb
+validation
+monitoring
+jenkins-credentials.sh
+docker-compose.yml
+DEVSECOPS.md
+README.md
+.gitlab-ci.yml
+Jenkinsfile
+docker/
+deploy/
+data/spotify_songs.csv
+.DS_Store