# --- Serveur API ---
fastapi==0.115.6
uvicorn[standard]==0.34.0

# --- Traitement de données ---
pandas==2.2.3
numpy==1.26.4

# --- Intelligence Artificielle & NLP ---
# Torch est installé séparément dans Dockerfile en version CPU-only pour éviter les énormes dépendances CUDA.
sentence-transformers==3.3.1

# --- Recherche Vectorielle ---
faiss-cpu==1.9.0.post1

# --- Utilitaires ---
python-multipart==0.0.20
scikit-learn==1.6.0
